* {
    margin:0;
    padding:0;
}

:root{
    --cor-de-fundo: #fffae4;
    --cinza-txt: #686868;
    --laranja-principal: #f85f00;
    --laranja-efeito: rgb(255, 170, 22);
    --laranja-escuro: rgb(158, 50, 0);
}

body {
    font-family: 'Epilogue';
    font-size: 18px;
}

/****************** NAV INÃCIO *************** */

.navbar {
    display: grid;
    height: 8vh;
    grid-template-columns: 1fr 5fr 1fr;
    background: var(--cor-de-fundo);
    align-items: center;
    padding-top: 2vh;
}

.navbar img {
    height: 8vh;
    margin-left: 4em;
    min-height: 75px;
}

.nav__lista {
   display: flex;
}

.nav__lista li {
    list-style: none;
    letter-spacing: 2px;
}

.nav__lista a {
    color: var(--cinza-txt);
    text-decoration: none;
    padding-right: 2em;
    transition: 300ms;
}

.nav__lista a:hover {
    color: black;
    transition: 300ms;
}

.nav__buttons {
    display: flex;
    margin-right: 2em;
}

.nav__buttons a {
    text-decoration: none;
    color: var(--cor-de-fundo);
    background: var(--laranja-principal);
    padding: 1em;
    border-radius: 10px;
    margin-left: 2em;
    letter-spacing: 2px;
    transition: 300ms;
}

.nav__buttons a:hover {
    color: white;
    background: var(--laranja-efeito);
    transition: 300ms;
}

/****************** NAV FIM *************** */

/***************** DROP INÍCIO ***************/

.comecar__drop {
    display: grid;
    position: absolute;
    border: 2px solid var(--laranja-principal);
    box-shadow: 0 0 10px;
    padding: 0.5em;
    border-radius: 10px;
    top: 90px;
    left: 200px;
    height: 200px;
}

.comecar__drop p {
    padding: 8px 0;
    color: var(--cinza-txt);
}

.comecar__drop img {
    padding-right: 5px;
}

.conta__drop {
    display: grid;
    position: absolute;
    border: 2px solid var(--laranja-principal);
    box-shadow: 0 0 10px;
    padding: 0.5em;
    border-radius: 10px;
    top: 90px;
    left: 370px;
    height: 200px;
}

.conta__drop p {
    padding: 8px 0;
    color: var(--cinza-txt);
}

.conta__drop img {
    padding-right: 5px;
}

/*********** DROP FIM ************************/

.principal {
    height: 90vh;
    background: var(--cor-de-fundo);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.principal__titulo {
    font-size: 75px;
    font-weight: 700;
}

.principal__descricao {
    margin: 1.5em 0;
    font-weight: 500;
    color: var(--cinza-txt);
}

.principal__button {
    margin-bottom: 1em;
}

.principal__button a:hover {
    background-color: var(--laranja-principal);
    color: var(--cor-de-fundo);
    transition: 300ms;
}

.principal__button a {
    text-decoration: none;
    padding: 1em;
    color: var(--cinza-txt);
    background:transparent;
    display: block;
    width: fit-content;
    border-radius: 10px;
    border: 2px solid var(--laranja-principal);
    transition:200ms;
}

.principal__esq-imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
}

.principal__dir img {
    height: 65vh;
    max-height: 650px;
    min-height: 500px;
}