* {
    margin:0;
    padding:0;
}

:root{
    --cor-de-fundo: #fffae4;
    --cinza-txt: #686868;
    --laranja-principal: #f85f00;
    --laranja-efeito: rgb(255, 170, 22);
    --laranja-escuro: rgb(158, 50, 0);
}

body {
    font-family: 'Epilogue';
    font-size: 18px;
    background: var(--cor-de-fundo);
}

/****************** NAV INiCIO *************** */

.navbar {
    display: grid;
    height: 80px;
    grid-template-columns: 1fr 13fr 1fr;
    background: var(--cor-de-fundo);
    align-items: center;
    padding-top: 10px;
}

.navbar__logo {
    height: 80px;
    margin-left: 2em;
    min-height: 70px;
}

.nav__lista {
   display: flex;
   justify-content: flex-start;
}

.nav__lista img{
    width: 12px;
}

.nav__lista img:hover{
    opacity: 0.5;
}

.nav__lista li {
    list-style: none;
    letter-spacing: 2px;
    padding-right: 1em;
    padding-left: 1em;
}

.nav__lista a {
    color: var(--cinza-txt);
    text-decoration: none;
    transition: 300ms;
}

.nav__lista a:hover {
    color: var(--laranja-principal);
    transition: 300ms;
}

.nav__buttons {
    display: flex;
    /* margin-right: 2em; */
}

.nav__buttons a {
    text-decoration: none;
    color: var(--cor-de-fundo);
    background: var(--laranja-principal);
    padding: 1em;
    border-radius: 10px;
    margin-right: 1em;
    letter-spacing: 2px;
    transition: 300ms;
}

.nav__buttons a:hover {
    color: white;
    background: var(--laranja-efeito);
    transition: 300ms;
}

.nav__hamb {
    cursor: pointer;
    display: none;
}

.nav__hamb div {
    width: 32px;
    height: 2px;
    margin: 8px;
    background: black;
}

/****************** NAV FIM *************** */

/***************** DROP INICIO ***************/

.comecar__drop {
    display: grid;
    position: absolute;
    background-color: var(--cor-de-fundo);
    padding: 0.5em;
    border-radius: 10px;
    top: -145px;
    left: 130px;
    height: 200px;
    width: 157px;
    overflow: hidden;
    max-height: 0px;
    transition: 200ms;
    opacity: 0;
}

.comecar__drop.active {
    display: grid;
    border: 1px solid var(--laranja-principal);
    box-shadow: 0 0 10px var(--laranja-escuro);
    overflow-y: hidden;
    max-height: 150px;
    transition: 600ms;
    opacity: 1;
    align-content: space-around;
    top: 80px;
}

.comecar__drop p {
    color: var(--cinza-txt);
}

.comecar__drop p:hover {
    cursor: pointer;
}

.comecar__drop img {
    padding-right: 5px;
}

.conta__drop {
    display: grid;
    position: absolute;
    background-color: var(--cor-de-fundo);
    padding: 0.5em;
    border-radius: 10px;
    top: -145px;
    left: 325px;
    height: 200px;
    width: 150px;
    overflow: hidden;
    max-height: 0px;
    transition: 200ms;
    opacity: 0;
}

.conta__drop.active {
    display: grid;
    border: 1px solid var(--laranja-principal);
    box-shadow: 0 0 10px var(--laranja-escuro);
    overflow-y: hidden;
    max-height: 150px;
    transition: 600ms;
    opacity: 1;
    align-content: space-evenly;
    top: 80px;
}

.conta__drop p {
    padding: 8px 0;
    color: var(--cinza-txt);
}

.conta__drop p:hover{
    cursor:pointer;
}

.conta__drop img {
    padding-right: 5px;
}

/*********** DROP FIM ************************/

.principal {
    height: 80vh;
    background: var(--cor-de-fundo);
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    min-height: 500px;
    align-items: center;
}

.principal__titulo {
    font-size: 75px;
    font-weight: 700;
}

.principal__descricao {
    margin: 1.5em 0;
    font-weight: 500;
    color: var(--cinza-txt);
}

.principal__button {
    margin-top: 2em;
}

.principal__button a:hover {
    background-color: var(--laranja-principal);
    color: var(--cor-de-fundo);
    transition: 300ms;
}

.principal__button a {
    text-decoration: none;
    padding: 1em;
    color: var(--cinza-txt);
    background:transparent;
    display: block;
    width: fit-content;
    border-radius: 10px;
    border: 1px solid var(--laranja-principal);
    transition:200ms;
}

.principal__esq-imgs {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    align-items: center;
}

.principal__esq-imgs img {
    width: 60px;
}

.flyer {
    height: 65vh;
    max-height: 650px;
    min-height: 400px;
}

/******************* MEDIA QUERY **********************/

@media screen and (max-width: 1024px) {

    .navbar {
        font-size: 14px;
        padding-top: 0px;
    }

    .nav__lista li {
        letter-spacing: 1px;
        padding-right: 1em;
        padding-left: 1em;
    }

    .nav__buttons{
        margin-right: 2em;
    }

    .comecar__drop {
        left: 68px;
    }

    .conta__drop {
        left: 247px;
    }

    .navbar__logo {
        height: 60px;
        margin-left: 2em;
        min-height: 50px;
    }

    .principal__titulo {
        font-size: 55px;
    }

    .principal__descricao {
        font-size: 14px;
    }

    .principal__button a {
        font-size: 14px;
    }

    .principal__dir img {
        height: 65vh;
        max-height: 400px;
        /* min-height: 246px; */
    }

}

@media screen and (max-width: 850px) {
    
    .principal__titulo {
        font-size: 45px;
    }

    .navbar {
        font-size: 12px;
    }
}

@media screen and (max-width: 425px) {
    .navbar__logo {
        height: 50px;
        margin-left: 2em;
    }

    .nav__hamb {
        display: block;
        padding-right: 2em;
    }

    .navbar{
        display: flex;
        height: 60px;
        justify-content: space-between;
    }
    
    .nav__lista {
        position: absolute;
        top: 10vh;
        right: 2px;
        width: 0vw;
        height: 60vh;
        background: var(--cor-de-fundo);
        flex-direction: column;
        overflow-x: hidden;
        display: flex;
        transition: 200ms;
        opacity: 0;
        align-items: center;
        justify-content: space-around;
        font-size: 5px;
    }

    .nav__lista.active {
        display: flex;
        border: 1px solid var(--laranja-principal);
        border-radius: 5px;
        box-shadow: 0 0 10px var(--cinza-txt);
        width: 50vw;
        transition: 200ms;
        opacity: 1;
        font-size: 14px;
    }

    .comecar__drop {
        left: 17px;
    }

    .comecar__drop.active {
        top: 87px;
        left: 17px;
        transition: 400ms;
    }

    .conta__drop {
        left: 23px;
    }

    .conta__drop.active {
        top: 254px;
        left: 23px;
        transition: 400ms;
    }

    .nav__buttons {
        display:none;
    }

    .principal{
        flex-direction: column;
        justify-content: flex-end;
        height: 50vh;
        padding-top: 19em;
        background-image: url(images/TonelyIMG-main-mobile.png);
        background-size: 35vh;
        background-repeat: no-repeat;
        background-position: top;
        background-position-y: -20px;
    }

    .flyer {
        display: none;
    }

    .principal__titulo{
        padding-top: 0.5em;
    }

    .principal__button {
        display: flex;
        justify-content: center;
    }

    .principal__esq-imgs {
        margin: 2em 0;
    }
}

@media screen and (max-width: 375px) {
    .principal__descricao{
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .principal__titulo {
        font-size: 35px;
    }
}